DB_NAME=nextcloud
DB_ROOT_PASSWORD='changeme'
DB_USER=nextcloud
DB_PASSWORD='changeme'
DB_BIND_PATH=/mnt/storage/nextcloud/db
OVERWRITECLIURL=https://nextcloud.tail.vc206.com
NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.tail.vc206.com
NEXTCLOUD_ADMIN_USER=admin@example.com
NEXTCLOUD_ADMIN_PASSWORD='changeme'
NEXTCLOUD_BIND_PATH=/mnt/storage/nextcloud/data